/*Universal styling*/

html{
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    color: #343434;
    background-color: #F5EECB;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #343434;
}

a:hover{
    text-decoration: underline;
}

header{
    position: fixed;
    background-color: #61A0BD;
    width: 100%;
    height: 4.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav ul{
    list-style: none;
    display: flex;
    padding-right: 1rem;

}

nav ul li{
    align-content: flex-end;
    padding-left: 1rem;
}

header p {
    font-size: 2rem;
    padding-left: 1rem;
}

main {
    margin-top: 4.5rem;
}

.start {
    display: flex;
    flex-direction: column;
    
}
.imgSplit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 5rem;
    flex-wrap: wrap;
}
#profile {
    float: left;
    width: auto;
    height: 40%;
}

.skills{
    list-style: none;
}

footer{
    display: block;
    position: fixed;
    background-color: #343434;
    color: #F5EECB;
    width: 100%;
    height: 10rem;
    bottom: 0;
    right: 0;
}
.contact {
    float: right;
    text-align: end;
    padding-right: 1%;
}
.contact h3{
    margin-bottom: 0px;
}
footer ul{
    list-style: none;   
}
